form{
	width:800px;
	margin:auto;
	padding:20px;
	background:#45B39D;
	font-size:14px;
	font-family:Verdana;
	color:#eafaf1 ;
	
}
h1{

	font-family:Georgia, serif;
	color:#CDF283;
}
h2{
	font-size:30px;
	font-family:Georgia, serif;
	color:white;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("Images/regpage.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eafaf1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #eafaf1;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.copyright {
       text-align: center;
       font-size: 10px;
	   color:white;
}





