* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color:darkgray;

  }

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0);
  padding: 16px;
  text-align: center;
  background-color: grey;
}
.image2{
	
	width: 460px;
	height:230px;
	border-radius: 9px;
	transition: width 2s, height 4s;
}

.image2:hover {
  width: 400px;
  height: 200px;

}
.text2{

  color: black;
  font-weight: bolder;
  font-size: 30px;
  font-style: oblique;
  font-family: "Trirong", serif;

}